{% extends "login/base_app.html" %}

{% block title %}
	Change Password - {{ block.super }}
{% endblock %}

{% block content %}
	{% load crispy_forms_tags %}

	<h1 align="center" class="mb-5">Смена пароля пользователя "{{ request.user }}"</h1>

	<div class="container col-8">
		<form action="{% url 'change_password' %}" method="post">
			{% csrf_token %}

			{% include "include/error_alert.html" %}

			{{ form|crispy }}
			<button class="btn btn-light">Поменять пароль</button>
		</form>
	</div>
{% endblock %}