<a style="color: blue;" data-toggle="modal" data-target="#staticBackdrop">
	Посмотреть
</a>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Описание пользователя "{{ user.name }}"</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong>Имя: </strong><span>{{ user.name }}</span><br/>
				<strong>Номер телефона: </strong><span>{{ user.phone_number }}</span><br/>
				<strong>Почта: </strong><span>{{ user.email }}</span><br/>
				<strong>Адресс: </strong><span>{{ user.address }}</span><br/><br/>
				<h5>Полное описание: </h5> {{ user.description }}<br/>
			</div>
			<div class="modal-footer">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">Закрыть</span>
				</button>
			</div>
		</div>
	</div>
</div>
</td>
